.snippets
  .snippets__container
    .snippets__title #{snippets.title}
    .snippets__projects
      ul.snippets__list
        each item in snippets.snippets.reverse()
          li.snippets__item
            a(href="#{item.url}", target="_blank")
              span.snippets__item-screenshot(style="background-image: url('#{item.screenshot}')")
            a(href="#{item.url}", target="_blank").snippets__item-title #{item.title}
            span.snippets__item-description #{item.description}
            
            
