- require('./snippets.scss')
- require('fontawesome')
- var data = require('./snippets.cson')

.snippets
  .snippets__container
    .snippets__title #{data.title}
    .snippets__projects
      ul.snippets__list
        each item in data.snippets.reverse()
          - var image = require("./screenshots/" + item.screenshot)
          li.snippets__item
            a(href="#{item.url}", target="_blank")
              span.snippets__item-screenshot(style="background-image: url('#{image}')")
            a(href="#{item.url}", target="_blank").snippets__item-title #{item.title}
            span.snippets__item-description #{item.description}
            
            
